.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.add-event-btn {
    color: yellow;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.event-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    height: 100%;
}

    .event-list li {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
        cursor: pointer;
    }

.selected {
    background-color: #f2f2f2;
}

    .selected .event-name {
        font-weight: bold;
    }

.event-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
}

.edit-event-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: r
}

    .edit-event-btn:hover {
        background-color: #3e8e41;
    }



.event-card-list {
    display: flex;
    flex-wrap: wrap;
}

.event-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    margin: 10px;
    padding: 20px;
    width: calc(33.33% - 20px);
}

    .event-card.selected {
        border: 2px solid #007bff;
    }

    .event-card h3 {
        font-size: 24px;
        margin-top: 0;
    }

    .event-card .event-description {
        font-size: 16px;
        margin: 10px 0;
    }

    .event-card .event-link {
        margin-top: 10px;
    }

        .event-card .event-link a {
            color: #007bff;
            text-decoration: none;
        }

            .event-card .event-link a:hover {
                text-decoration: underline;
            }

    .event-card .event-date {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }

        .event-card .event-date .start-date,
        .event-card .event-date .end-date {
            font-size: 14px;
            font-weight: bold;
        }
