.event-list {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-gap: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    margin: 5%;

    @media (max-width: 768px) {
        justify-content: center;
    }

    .event-item {
        width: calc(33.33% - 20px);
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        @media (max-width: 768px) {
            width: calc(50% - 20px);
        }

        @media (max-width: 480px) {
            width: 100%;
        }

        &:hover {
            transform: translateY(-5px);
            transition: all 0.2s ease-in-out;
        }



        .event-details {
            padding: 20px;
            float: right;

            h3 {
                font-size: 24px;
                font-weight: 700;
                margin: 0 0 20px 0;
            }

            p {
                font-size: 16px;
                margin: 0;
            }

            .event-date {
                font-size: 14px;
                color: #999;
                margin: 10px 0;
            }

            .event-location {
                font-size: 14px;
                color: #999;
                margin: 10px 0;
            }

            .event-button {
                margin-top: 20px;

                a {
                    display: inline-block;
                    background-color: #000;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 6px;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    text-decoration: none;
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        background-color: #fff;
                        color: #000;
                        border: 1px solid #000;
                        transition: all 0.2s ease-in-out;
                    }
                }
            }
        }
    }
}
